*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

/* custom scroll bar */

::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background: #383838; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #696969; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* main */

.main-container{
    height:calc(100vh - 10vh);
}

.main-row{
    display: flex;
    height:100%;
}

/* first col (menu) */

.first-col{
    display: flex;
    flex-direction: column;
    width: 15rem;
}


/* logo */

/* big logo */

.logo-box{
    padding: 1rem;
}

.logo-box-img{
    width: 10rem;
}

/* mobile logo */

.small-box-img{
    display: none;
}

/* menu */

.home-menu-item{
    display: flex;
    color:white;
    align-items: center;
}

.green-bar{
    border: 3px solid #adff2f;
    height: 40px;
    margin-right: 0.5rem;
}

.menu-item{
    padding: 0.5rem 1rem;
}

.menu-item-mob{
    display: none;
}

/* playlist*/

.create-new{
    display: flex;
    padding-top:1rem;
    align-items: center;
}

.playlist-list{
    display: flex;
    flex-direction: column;
}

.name-playlist{
    padding-top: 0.8rem;
    font-size: 13px;
    font-weight: bold;
}

.playlist-section{
    display: flex;
    flex-direction: column;
    padding:0.5rem 1rem;
}

/* login*/

.login-section{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding:0.5rem 1rem;
}

.login-hr{
    border: 1px solid #7a7a7a;
}

.account-div{
    padding-top: 1rem;
}

/* second col */

.second-col{
    display: flex;
    flex-direction: column;
    width:calc(100% - 15rem);
    overflow: auto;
}

/* upgrade row */

.upgrade-row{
    display: flex;
    justify-content: flex-end;
    min-height:9vh;
    position: fixed;
    z-index: 999;
    background-color: #080b129c;
    width:calc(100% - 15rem);
}

.upgrade-button{
    padding: 0.8rem 2rem;
    border: 1px solid white;
    border-radius: 30px;
    width: fit-content;
    align-self: center;
    margin-right: 1rem;
}

/* second menu row */

.second-menu-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1vh;
    padding-top:6rem;
}

.menu-item2{
    color: #7a7a7a;;
    padding: 0.5rem;
    font-size: 14px;
    font-weight: bold;
}

.evidence-menu-item{
    display: flex;
    flex-direction: column;
    color: #7a7a7a;;
    padding: 0.5rem;
    font-size: 14px;
    font-weight: bold;
}

.secondgreenbar{
    border: 1px solid #adff2f;
    width: 2rem;
    align-self: center;
}


/* recently played / created for / popular artist*/

.secondcol-row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.square-card{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    width: 16%;
    position: relative;
}

.circle-card{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    width: 16%;
    position: relative;
}

.play{
    font-size: 7rem;
    position:absolute;
    top: 20%;
    right: 33%;
    opacity: 0;
}

.circle-img{
    border-radius: 50%;
    object-fit: cover;
}

.description-song{
    margin: 1rem auto;
    text-align: center;

}

.secondcol-h2{
    margin-top: 3rem;
}

.h2-description{
    padding: 0.1rem 1rem;
    margin-bottom: 1rem;
}

/* footer */

.footer-container{
    height: 10vh;
    background-color: #282828;
}

.footer-row{
    display: flex;
    justify-content: space-between;
    height:100%;
}

.footer-img{
    width: 13%;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.heart-file{
    display: flex;
    align-items: center;
}

.small-footer-col{
    display: flex;
    flex-direction: column;
    width: 25%;
}


.big-footer-col{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.bigfooter-row{
    display: flex;
    align-items: center;
    height:60%;
    justify-content: center;
}

.smallfooter-row{
    display: flex;
    align-items: center;
    height:40%;
    justify-content: center;
}

.music-row{
    display: flex;
}

.slider{
    display: flex;
}

.darkgrey-slider{
    border: 3px solid #5a5a5a;
    width: 20rem;
    border-radius: 0 4px 3px 0;
}

.white-slider{
    border: 3px solid #c1c1c1;
    width: 8rem;
    border-radius: 4px 4px 3px 5px;
}

.thirdfooter-row{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.volume-slider{
    display: flex;
}

.volume-darkgrey-slider{
    border: 3px solid #5a5a5a;
    width: 6rem;
    border-radius: 0 4px 3px 0;
}

.volume-white-slider{
    border: 3px solid #c1c1c1;
    width: 2rem;
    border-radius: 4px 4px 3px 5px;
}

/* hover*/

.menu-item:hover{
    color: white;
}

.menu-item-mob:hover{
    color: white;
}

.name-playlist:hover{
    color: white;
}

.new-playlist:hover{
    color: white;
}

.download-but:hover{
    color: white;
}

.upgrade-button:hover{
    padding: 1rem 2.4rem;
    font-size: 16px;
}

.menu-item2:hover{
    color: white;
}

.evidence-menu-item:hover{
    color: white;
}

.card-hover:hover .play{
    opacity: 1;
}

.card-hover:hover img{
    filter: brightness(50%);
}

.fa-heart:hover{
    color: white;
}

.fa-folder:hover{
    color: white;
}

.song-name:hover{
    text-decoration: underline;
}

.play-but:hover{
    font-size: 40px;
}

.white-slider:hover{
    border: 3px solid #adff2f;
    width: 8rem;
    border-radius: 4px 4px 3px 5px;
}

.volume-white-slider:hover{
    border: 3px solid #adff2f;
    width: 2rem;
    border-radius: 4px 4px 3px 5px;
}


/* Media query*/

/* Media query: tablet */

@media screen and (max-width:992px){

    /* second col */
    /* recently played /created for / popular artist*/

    .square-card{
        width:30%;
    }

    .circle-card{
        width:30%;
    }

    /* footer */

}

/* Media query: mobile */

@media screen and (max-width:576px)
{
    /* first col (menu) */

    .first-col{
        width: 3rem;
    }

    /* big logo */

    .logo-box{
        padding: 0;
    }

    .logo-box-img{
        display: none;
    }

    /* big logo */

    .small-box-img{
        display: block;
        width: 1.8rem;
    }

    .logo-box-mob{
        justify-content: center;
        padding-top:0.3rem;
    }

    /* menu */

    .menu-item{
        padding: 0;
        display: none;
    }

    .menu-item-mob{
        display: block;
        text-align: center;
        padding-top: 1rem;
    }

    /* playlist */

    .playlist-section{
        display: none;
    }

     /* login */

     .login-hr{
        display: none;
     }

     .login-text{
        display: none;
     }

     .account-div{
        padding: 0;
     }

    /* second col */

    .upgrade-row{
        width: calc(100% - 3rem);
    }

    .second-col{
        width:calc(100% - 3rem);
    }

    /* recently played / created for / popular artist*/

    .square-card{
        width:40%;
    }

    .circle-card{
        width:40%;
    }

    .secondcol-row{
        justify-content: center;
    }

    .recently-h2{
        margin: 0 auto;
        font-size: 20px;
    }

    /* footer */
    


}


/* Media query: mini */


@media screen and (max-width:180px)
{
    .upgrade-button{
        display: none;
    }
}