*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* main */

.main-container{
    height:calc(100vh - 70px);
}

.main-row{
    display: flex;
    height:100%;
}

/* first col (menu) */

.first-col{
    display: flex;
    flex-direction: column;
    width: 15rem;
}

/* logo */

/* big logo */

.logo-box{
    padding: 1rem;
}

.logo-box-img{
    width: 10rem;
}

/* mobile logo */

.small-box-img{
    display: none;
}

/* menu */

.menu-item{
    padding: 0.5rem 1rem;
}

.menu-item-mob{
    display: none;
}

/* playlist*/

.create-new{
    display: flex;
    padding-top:1rem;
    align-items: center;
}

.playlist-list{
    display: flex;
    flex-direction: column;
}

.name-playlist{
    padding-top: 0.8rem;
    font-size: 13px;
}

.playlist-section{
    display: flex;
    flex-direction: column;
    padding:0.5rem 1rem;
}

/* login*/

.login-section{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding:0.5rem 1rem;
}

.login-hr{
    border: 1px solid #7a7a7a;
}

.account-div{
    padding-top: 1rem;
}

/* second col */

.second-col{
    display: flex;
    flex-direction: column;
    width:calc(100% - 15rem);
}

/* upgrade row */

.upgrade-row{
    display: flex;
    justify-content: flex-end;
    height:10vh;
}

.upgrade-button{
    padding: 0.8rem 2rem;
    border: 1px solid white;
    border-radius: 30px;
    width: fit-content;
    align-self: center;
}

/* second menu row */

.second-menu-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1vh;
}

.menu-item2{
    color: #7a7a7a;;
    padding: 0.5rem;
    font-size: 12px;
    font-weight: bold;
}

/* recently played */

.recently-row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.song-rplayed{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    width: 16%;
}

.description-song{
    margin: 1rem auto;
    text-align: center;

}

.recently-h2{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

/* footer */

.footer-container{
    height: 70px;
    background-color: #282828;
}


/* Media query*/

/* Media query: tablet */

@media screen and (max-width:992px){

    /* second col */
    /* recently played */

    .song-rplayed{
        width:30%;
    }
}

/* Media query: mobile */

@media screen and (max-width:576px)
{
    /* first col (menu) */

    .first-col{
        width: 3rem;
    }

    /* big logo */

    .logo-box{
        padding: 0;
    }

    .logo-box-img{
        display: none;
    }

    /* big logo */

    .small-box-img{
        display: block;
        width: 1.8rem;
    }

    .logo-box-mob{
        justify-content: center;
        padding-top:0.3rem;
    }

    /* menu */

    .menu-item{
        padding: 0;
        display: none;
    }

    .menu-item-mob{
        display: block;
        text-align: center;
        padding-top: 1rem;
    }

    /* playlist */

    .playlist-section{
        display: none;
    }

     /* login */

     .login-hr{
        display: none;
     }

     .login-text{
        display: none;
     }

     .account-div{
        padding: 0;
     }

    /* second col */

    .second-col{
        width:calc(100% - 3rem);
    }

    /* recently played */

    .song-rplayed{
        width:40%;
    }

    .recently-row{
        justify-content: center;
    }

    .recently-h2{
        margin: 0 auto;
        font-size: 20px;
    }
    


}


/* Media query: mini */


@media screen and (max-width:180px)
{
    .upgrade-button{
        display: none;
    }
}